$yellow:#FACC15;
$light-gray: #E5E7EB;
$second-gray: #D1D5DB;
$txt-black-main: #030712;
$white: #FFFFFF;
$txt-gray-main: #B0B0B0;
$secondery-color: #5CB85C;
$main-color: #634C9F;
$gray2: #999999;
$light-gray: #E5E7EB;
$yellow: #FACC15;
$txt-gray-main: #6B7280;
$txt-black-main: #111827;
$second-gray: #212529;
$secondery-color: #C93AAF;
$green: #16A34A;
$black: #000000;   
$dark-gray: #374151;
$blue: #0891B2;
$dark-green: #166534;
$orange: #EA580C;
$light-yellow: #FEFDD5;
$dark-orange: #7C2D12;
$light-beige: #FFF7ED;
$red:#DC2626;


